@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* font-family: 'Press Start 2P', cursive; */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Press Start 2P', cursive;
    background-image: url(images/background3.png);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    text-transform: uppercase;
    color: #31E1F7;
    font-size: 3rem;
    text-shadow: 0px 7px 0px #003bfd;
    margin: 2rem 0 5rem;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* PRESS START SCREEN */
.start-game{
    position: relative;
    font-size: 8rem;
    color: #FFC23C;
    text-shadow: 0px 15px 0px #f04662;
    animation: 0.7s ease-in-out 0s infinite alternate move;
    transition: opacity 0.5s ease-in-out;
}
.start-game p{
    margin: 20px;
}
@keyframes move{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0);
    }
}
/* GAME SCREEN */
.game-ui{
    flex: 1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: all 2s ease-in-out;
}
.hide{
    opacity: 0;
}
.display-none{
    display: none;
}

.players{
    display: flex;
    justify-content: space-between;
    
}
.players img{
    width: 100%;
    max-width: 100px;
    height: auto;
}
.user{
    color: #3f48cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.score-board{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.score-board p{
    padding: 0.8rem;
}
.board{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.vs{
    align-self: center;
    font-size: 5rem;
    color: #FFC23C;
    text-shadow: 0px 10px 0px #f04662;
}
.pc{
    color: #c40424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* BUTTONS */
.options p{
    color: #FFC23C;
    font-size: 2rem;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.options button{
    width: 150px;
    height: 150px;
    background: none;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.options button:hover{
    border: 5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 20px 0px rgba(255,248,248,0.73);
}
.options button img{
    width: 100%;
    height: auto;
}

/* FOOTER */
footer{
    font-size: 1.5rem;
    margin: 2rem;
    color: #31E1F7;
}
footer a{
    text-decoration: none;
    color: #FFC23C;
}
footer i{
    font-size: 3rem;
}